body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 770px; /* Ancho mínimo */
  min-height: 540px; /* Alto mínimo */
  background-color: rgb(246, 244, 243);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
