.containerTxtCondiciones {
    text-align: center;
    margin-bottom: 20px;
}

.containerCondiciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCondiciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 226, 220);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
}

.cardCondiciones2 {
    font-size: 100%;
    margin-left: -4.2%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
    color: white;
    background-color: #ed5621;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    margin-bottom: 10px;
}

.tituloCondicion {
    color: #ed5621;
    font-weight: bold;
    margin-right: 10px;
}

.heartImage {
    margin-left: 20px;
}

.heartImage img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
