/* Login.css */

/* Contenedor principal para ocupar toda la pantalla */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f7fafc; /* Fondo gris claro */
    padding: 16px;
  }
  
  /* Tarjeta de inicio de sesión */
  .login-card {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    position: relative; /* Se cambió a relative para posicionar el botón dentro */
  }
  
  /* Botón de cerrar dentro del formulario */
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close-button:hover {
    color: #000;
  }
  
  /* Estilo para los campos de entrada del formulario */
  .login-field {
    margin-bottom: 16px;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #a0aec0;
  }
  
  /* Estilo para el botón de inicio de sesión */
  button {
    background-color: #ed5621;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d14e1e;
  }
  