* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-width: 770px;
    min-height: 540px; 
}

/*--------------------------- Estilos del encabezado ---------------------------*/
nav {
    background-color: #ffffffb0;
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 5rem;
    margin-left: 2%;
}

nav ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 3rem;
}

nav ul li a {
    color: #004080;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

nav ul li a:hover {
    color: #ed5621;
}

#separador1 {
    display: flex;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease;
    border: none;
    height: 1px;
    background-color: #ed5621;
    margin-bottom: 0;
    z-index: 10000;
}

#Clientes {
    margin-top: 16%;
    margin-left: 5%;
    width: 105px;
    height: 100px;
    left: 0;
    border-radius: 3.6%;
    z-index: 99; 
    position: absolute;
}

#txtClientes {
    margin-top: 25%;
    margin-left: 3.5%;
    left: 0;
    border-radius: 3.6%;
    z-index: 99; 
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

.login{
    border-radius: 20px;
    background-color: #e7771c;
    height: 40px;
    width: 120px;
    color: #004080;
    font-weight: bold;
    font-size:medium; 
}

button:hover{
    transform: scale(1.1);
}